.container {
  position: relative;
  width: max-content;
  text-align: center;
    .image {
    width: 100%;
  }
  .header {
    position: relative;
    display: flex;
    top: 8px;
    gap: 0 120px;
    left: 16px;
    margin: 40px;
    .header-content {
      .umbrella {
        width: 50px;
      }
      
      .left-area {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0 10px;
        img {
          width: 144px;
        }
        h1 {
          font-family: monospace;
          font-size: 22px;
          color: #b4bcc3 !important;
         
        }
      }
    }
  }
  .menu {
display: flex;
list-style-type:none;
gap: 0 86px;
align-items: center;
justify-content: space-between;
a {
  color: black;
  font-weight: 600;
  font-size: 17px;
}
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    .btn-white {
      width: 70px;
    height: 40px;
    border: 10px;
    background-color: #ffa93a;
    border-radius: 10px;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
  }
}


.main-area {
  margin-top: 5%;
  display: block;
  position: relative;
  gap: 0 50px;

  text-align: left;
  left: 5%;
  .main-content {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    gap: 0 50px;
    /* top: 50%; */
    width: 250px;
    text-align: left;

    .image-area {
      img {
        width: 585px;
        height: 485px;
      }
     }
.centered {
 margin: 10px;
 
h1 {
  font-size: 55px;
  text-align: left ;

}
span{
  font-size: 16px;
    color: #989b9f;
}
}
.left-buttons {
display: flex;
align-items: center;
justify-content: space-around;

gap: 0 20px;

.btn-discover {
  width: 198px;
  height: 53px;
  border-radius: 10px;
  font-size: 18px;
  background-color: black;
  display: flex;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.call-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
   p {
    font-weight: 600;
    font-size: 17px;
    color: #545858;
   }

  i {
    width: 50px;
    display: flex;
    height: 40px;
    border: 3px solid #ffa93a;
    border-radius: 21px;
    background-color: white;
    align-items: center;
    justify-content: center;
   
  }
}
}
.info-area {
  .title {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
  }
  .information-area {
    display: block;
    align-items: center;
    gap: 0 20px;
    .content {
      display: flex;
    margin: 10px;
    gap: 0 20px;
    margin-bottom: 30px;
    .date-icon {
      width: 40px;
      height: 40px;
      background-color: #82f4cf6b;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .time-icon {
      width: 40px;
      height: 40px;
      background-color: #aad2ec6b;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .guest-icon {
      width: 40px;
      height: 40px;
      background-color: #f3abf56b;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .price-icon {
      width: 40px;
      height: 40px;
      background-color: #ffdbaaa1;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .text-area {
      span:first-child {
        display: block;
        font-family: 'Gulzar', serif;
        font-weight: 600;
      }
      span:nth-child(2) {
        color: #989b9f;
        font-weight: 600;
      }
    }
    
  }
}
}
}
.details {
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  .participants {
    display: block;
    text-align: right;
  .text {
    span {
font-size: 16px;
color:  #0c406e;
font-weight: 600;
    }
  }

 img {
  width: 80px;
  height: 45px;
  margin-top: 15px;
  border-radius: 20px;
 }
  }
  .times {
    display: block;
    align-items: center;
    border-radius: 55px;
    height: 90px;
    justify-content: center;
    width: 90px;
    background-color: #ffffff;
    border: 8px solid;
    border-color: #ffa33d;
    p {
      font-weight: 600;
    font-size: 23px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    }
    span {
font-size: 12px;
color: #989b9f;
    align-items: center;
    justify-content: center;
    display: flex;
    }
  }
  .total {
    p {
      font-weight: 900;
    color: #0c406e;
    font-size: 25px;
    }
    span {
      font-weight: 600;
color: #989b9f;
    }
  }
}
}